
            <div class="col">
                <h3>Bütün xəbərlər</h3>
                <div class="card shadow mt-3" style="width: 18rem;">
                    <img class="card-img-top" src="/{{news.news_img}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{news.news_title}}</h5>
                      <p class="card-text">{{news.news_content}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{news.news_date}}</li>
                    </ul>
                  </div>
            </div>