.next{
    position: relative;
    top: 250px;
    left: 850px;
}

.previous{
    position: relative;
    top: 250px;
    right: -70px;
}

.carousel img{
    position: absolute;
    object-fit: cover;
}

.carousel{
    margin: 0 auto;
}
