.menu-container {
    height: 700px;
    background-color: #10121b;
}

.text-container{
    height: 700px;
    background-color: purple;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.image img {
    max-width: 180px;
    border-radius: 50%;
    
    
}

.menu {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.menu-text{
    color: white;
    font-size: 1.7em;
    list-style-type: none;
    padding: 15px 5px;
    text-transform: uppercase;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text{
    display: flex;
    align-items: center;
}

.header-text span {
    font-size: 2em;
    margin-left: 15px;
    color: red;
}

.info-text p{
    text-align: center;
}

.icon-font{
    display: flex;
    list-style-type: none;
    }

    .icon-font li{
        padding: 10px;
    }


/* .header-text{
    width: 100px;
    height: 50px;
    background-color: black;
}
.info-text{
    width: 100px;
    height: 50px;
    background-color: red;
}
.icons{
    width: 100px;
    height: 50px;
    background-color: blue
} */